{% extends "index.html" %}
{% block query %}
    <head>
        <meta charset="utf-8">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.css" rel="stylesheet" type="text/css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.0.2.min.js"></script>
        {{ context['script'] | safe }}
    </head>
	<style>
		div.query-scroll {
			background-color: grey;
			  overflow: scroll;
			  height:250px;
		}
	</style>
    <p><h1>Query Execution 4</h1></p><br>
    <h4>4. Find all the complaint details of a Patient.</h4><br>
    <h4>
    <form method="POST" action="{{ url_for('q4') }}">
    	<label for="ID">Enter Patient ID: </label>
    	<input id="ID" type="text" name="ID">
    	<input type="submit" value="Search"></input> <br><br>
    </form><br>
	</h4>
    {{ context['timep'] }} {{ timep }}<br><br>
    <div align="center">
        {{ context['div'] | safe }}
    </div><br>
    <div class="query-scroll">
        {% for patient in patients %}
        {{ context['name'] }}: {{ patient.Name }}<br>
        {{ context['complaint_details'] }}: {{ patient.Complaint_Details }}<br><br>
        {% endfor %}
    </div>
{% endblock query %}